<div class="back">
    <div class="container">
  

        <div class="row">
            <div class="col-4 offset-2">
                <form class="was-validated">
                    <h1>Edit training</h1>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="training title" id="name" required>
                        <label for="name"> training title</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="trainer's name" id="username" required>
                        <label for="username"> <i class="fa fa-user" aria-hidden="true"></i> trainer's name</label>
                    </div>
                    <h3>date of training</h3>
                    <input type="date" class="date">
                    <input type="date" class="date">

                    <div class="form-floating">
                        <input type="text" class="form-control"  placeholder="Place of training"
                            id="place" required>
                        <label for="place"> <i class="fa fa-map-marker" aria-hidden="true"></i> Place of
                            training</label>
                    </div>
                    <input class="bt" type="submit" value="update training ">

                </form>
            </div>

        </div>

    </div>
</div>